<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
<!--        <input type="text" name="filename"  placeholder="enter your file name" >-->
<!--        <input type="file" multiple name="uploadfiles" >-->
        <input type="text" name="filename"  placeholder="enter your file name" >
        <input type="text" id="directories" name="" hidden/>
        <input type="file" id="file_input" name="uploadfiles" webkitdirectory directory/>


        {% csrf_token %}
        <button type="submit" >File Upload</button>
    </form>

    {% for d in nd.myuploadfile_set.all %}

   <p> {{d.f_name}} ---- <a href="{{d.myfiles.url}}" download=""><img width="50" src="{{d.myfiles.url}}"></p></a>

    {% endfor %}

</body>
<script>
 files = document.querySelector("#file_input").files;
 document.querySelector("#file_input").addEventListener("change", function() {
    files = document.querySelector("#file_input").files;
    var directories = {}
    for (var file of files) {
      file.webkitRelativePath
      directories[file.name] = file.webkitRelativePath
    }
    directories = JSON.stringify(directories);
    document.querySelector("#directories").value = directories
 });
</script>
</html>